{% extends "base.html.twig" %}



{% block content %}


    <h1 class="display-4">{{season.title}}</h1>
    
    

    <ul>
        <li>photo: {{season.photo}}</li>
        <li>id: {{season.id}}</li>
        <li>titre: {{season.title}}</li>
        <li>nombre n°: {{season.orderSeason}}</li>
        <li>nombre d'épisode: {{season.totalEpisodes}}</li>
        <li>date de début: {{season.year}}</li>
        <li>synopsis: {{season.synopsis | slice(0, 15)}}...</li>
        <li>episodes:</li>
    </ul>

    <div class="table-responsive">
 <table class="table table-bordered table-dark">
    <thead>
    <tr>
    <th>id:</th>
    <th>titre</th>
    <th>episode n°</th>
    <th>synopsis</th>
    <th>action</th>
    <tr>
    <thead>
    <tbody>
    {% for ep in season.episodes %}
        <tr>
        <td>{{ep.id}}</td>
        <td>{{ep.title}}</td>
        <td>{{ep.orderEpisode}}</td>
        <td>{{ep.synopsis}}</td>
       <td>
            <a href="{{ path('contributor_update_episode', {id:ep.id}) }}"><i class="fas fa-edit"></i></a>
        
            <a href="{{ path('contributor_episode_sheet',{id:ep.id}) }}"><i class="fas fa-glasses"></i></a>
        </td>
            
            
        </tr>
    {% endfor %}
    </tbody>
    </table>

</div>


    


{% endblock %}