{% extends 'base.html.twig' %}

{% block content %}
    <img src="{{serie.photo}}">
    <h4>Synopsis</h4> <hr>
    {{serie.synopsis}}
    
    {% if serie.nbSeason > 1 %}
    <h4>Nombre de saisons </h4> <hr>
    {{ serie.nbSeason }}
    {% else %}
    <h4> Saison </h4>
    <p> Il n'y a qu'une saison pour le moment ! <p> 
    {% endif %}
    <h4>nbEpisode</h4> <hr>
    {{serie.nbEpisode}}
    {% if serie.startDate != NULL %}
    <h4>startDate</h4> <hr>
    {{serie.startDate}}
    {% else %}
    <h4>startDate</h4> <hr>
    <p> La série n'a pas encore commencé ! </p>
    {% endif %}
    <h4>Status</h4> <hr>
    {{serie.status}}
    <h4>Public</h4> <hr>
    {{serie.public}}
    <h4>Nationalité</h4> <hr>
    {{serie.nationality}}
    <h4>Durée Episode</h4> <hr>
    {{serie.public}}
    <h4>Durée Episode</h4> <hr>
    {{serie.duration}} minutes

    <h4> Donnez nous votre avis ! </h4>
    <button type="button" class="btn btn-outline-success"><i class="far fa-thumbs-up"></i></button>
    <button type="button" class="btn btn-outline-danger"><i class="far fa-thumbs-down"></i></button>

    <h4> Ajouter à mes séries préférés </h4>
    <button type="button" class="btn btn-outline-success"><i class="far fa-plus-square"></i></button> 
    <!-- faire un truc genre le mec clique un message s'affiche style la série a été ajoutée a votre profil et que ca s'efface au bout de 3/4 secondes -->
   




</div>{% endblock %}
