<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

        <link rel="stylesheet" href="{{ asset('css/_bootswatch.scss') }}">
        <link rel="stylesheet" href="{{ asset('css/_variables.scss') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">


        <title>My Series</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top p-1">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('css/logoMySERIES.png') }}" width="90"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('serie_all') }}">
                            <i class="fas fa-tv text-info"></i>
                            Séries
                        </a>
                    </li>
                    {# <li class="nav-item">
                                                                <a class="nav-link" href="{{path('category')}}">
                                                                    <i class="fas fa-th text-info"></i>
                                                                    Catégories
                                                                </a>
                                                            </li> #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('profil')}}">
                                <i class="fas fa-users text-info "></i>
                                {{app.user.username}}</a>
                        </li>
                    {% endif %}
                </ul>

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('register')}}">
                                <span class="badge badge-pill badge-danger p-2">
                                    <i class="fas fa-user-plus"></i>
                                    Inscription
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('login')}}">
                                <span class="badge badge-pill badge-success p-2">
                                    <i class="fas fa-user-check"></i>
                                    Connexion
                                </span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('deconnection')}}">
                                    <span class="badge badge-pill badge-danger p-2">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Deconnexion
                                    </span>
                                </a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_CONTRIBUTOR') and not is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="badge badge-pill badge-success  p-2">
                                        <i class="fas fa-users-cog"></i>
                                        CONTRIBUTOR
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{path('contributor_serie_list')}}">Gestion des séries
                                    </a>
                                </div>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="badge badge-pill badge-info  p-2">
                                        <i class="fas fa-users-cog"></i>
                                        ADMIN
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{path('admin_user_list')}}">Gestion des membres
                                    </a>
                                    <a class="dropdown-item" href="{{path('admin_serie_list')}}">Gestion des séries
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_contributor_list') }}">Gestion des contributeurs</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="form-group my-lg-0 d-flex align-items-center" action="{{ path('recherche') }}" method="get">
                        <div class="input-group cr d-flex align-items-center">

                            <input class="form-control form-control-sm rounded-pill my-auto mr-2" type="text" placeholder="Recherche" name="s" value="">

                            <button class="input-group-append text-dark p-2 loupe" type="submit" style="background-color:transparent">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                    </form>
                </nav>


                <div class="container milieu ">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center">{{ message | raw }}</div>
                    {% endfor %}

                    {% for message in app.flashes('errors') %}
                        <div class="alert alert-danger text-center m-3">{{ message  | raw }}</div>
                    {% endfor %}

                    {% block content %}{% endblock %}

                </div>


                <!-- Footer -->
                <footer
                    class="bg-dark page-footer font-small stylish-color-dark">
                    <!-- Footer Links -->
                    <div
                        class="container text-center text-md-left">
                        <!-- Grid row -->
                        <div
                            class="row">
                            <!-- Grid column -->
                            <div
                                class="col-md-4 mx-auto">
                                <!-- Content -->
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Dashboard Series</h5>
                                <p>
                                    Le meilleur allié de vos séries : Gérez votre planning, classez vos série par préférence, et découvrez des nouveautés !</p>

                            </div>
                            <!-- Grid column -->
                            <hr
                            class="clearfix w-100 d-md-none">
                            <!-- Grid column -->
                            <div
                                class="col-md-2 mx-auto">
                                <!-- Links -->
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white ">Pour mieux nous connaître</h5>
                                <ul class="list-unstyled">
                                    <li class="nav-item m-0">
                                        <a class="text-secondary" href="{{path('apropos')}}">
                                            A propos de nous
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="{{path('souteneznous')}}">
                                            Soutenez MySERIES
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Grid column -->
                            <hr
                            class="clearfix w-100 d-md-none">
                            <!-- Grid column -->
                            <div
                                class="col-md-2 mx-auto">
                                <!-- Links -->
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white">Vos séries</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-secondary" href="{{ path('serie_all') }}">
                                            Annuaire des séries
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="{{ path('home') }}">
                                            Catégorie des séries
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="#!"></a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="#!"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Grid column -->
                            <hr
                            class="clearfix w-100 d-md-none">
                            <!-- Grid column -->
                            <div
                                class="col-md-2 mx-auto">
                                <!-- Links -->
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white">
                                    Politique de confidentialité
                                </h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-secondary" href="{{path('cgu')}}">CGU</a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="{{path('mentionslegales')}}">Mentions légales
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="{{path('donneesperso')}}">Données personnelles
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-secondary" href="{{path('contactsupport')}}">
                                            <i class="fas fa-envelope text-white"></i>
                                            Contactez nous

                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Footer Links -->
                    <hr class="bg-info">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}

                        <!-- Call to action -->
                        <ul class="list-unstyled list-inline text-center py-2">
                            <li class="list-inline-item">
                                <h5 class="mb-1 text-white ">
                                    Inscrivez-vous gratuitement
                                </h5>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{path('register')}}" class="btn btn-danger btn-rounded mt-3 mt-sm-0 ">
                                    <i class="fas fa-user-plus"></i>
                                    S'inscrire
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="list-unstyled list-inline text-center py-2">
                            <li class="list-inline-item">
                                <h5 class="mb-1 text-white">
                                    Abonnez-vous à notre Newsletter
                                </h5>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{path('profil_update')}}" class="btn btn-success btn-rounded">
                                    <i class="fas fa-user-plus"></i>
                                    S'abonner
                                </a>
                            </li>
                        </ul>
                        <!-- Call to action -->
                    {% endif %}
                    <hr
                    class="bg-info">

                    <!-- Social buttons -->
                    <div class="social-network text-center">
                        <p class="text-center">Retrouvez-nous sur les réseaux sociaux</p>
                        <div class="d-flex justify-content-center flex-wrap" id="rs">
                            <a id="fb" href="https://fr-fr.facebook.com" target="_blank"></a>

                            <a id="tw" href="https://twitter.com/?lang=fr" target="_blank"></a>

                            <a id="googleplus" href="https://plus.google.com/about?hl=fr" target="_blank"></a>

                            <a id="linkedin" href="https://fr.linkedin.com/" target="_blank"></a>

                            <a id="pt" href="https://www.pinterest.fr" target="_blank"></a>

                            <a id="yt" href="https://www.youtube.fr" target="_blank"></a>

                            <a id="insta" href="https://www.instagram.com" target="_blank"></a>
                        </div>
                    </div>

                    <!-- Social buttons -->
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3 bg-primary text-white">© 2019 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/education/bootstrap/">
                            myseries.com
                        </a>
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- Footer -->


                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
                <script src="{{asset('scripts/scipthover.js')}}"></script>

            </body>
        </body>
    </body>
</html></body></html>
