<img src="{{ absolute_url(asset('/img/header_email.png')) }}" />


<h3>Mail Boutique : {{ data.subject }}</h3>

<ul>
	Prénom : {{ data.firstName }}
	Nom : {{ data.lastName }}
    Email : <a href="mailto:{{ data.email }}">{{ data.email }}</a> 

</ul><hr/>

<p>
{{ data.message }}
</p>