<img src="{{ absolute_url(asset('/css/logoMySERIES.png')) }}"  />


<h3>Mail Contact My Series : {{ data.subject }}</h3>

<ul>
	Prénom : {{ data.firstName }}
	Nom : {{ data.lastName }}
    Email : <a href="mailto:{{ data.email }}">{{ data.email }}</a> 

</ul><hr/>

<p>
{{ data.message }}
</p>