{% extends 'base.html.twig' %}


{% block content %}

    <h1 class="display-4 text-center">
        <i class="fas fa-user"></i>

        {{ app.user.username }}
    </h1>
    <hr>
    <br>
<div class="d-flex justify-content-around">
  <button class="btn btn-primary col-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Voir mon profil<i class="fas fa-caret-down float-right pt-1"></i>
  </button>
  <a class="btn btn-info col-5 " href="{{ path('profil_update') }}">
        Modifier mon profil
    </a>
</div>

    

<div class="collapse" id="collapseExample">

<br>
    <h4>
        Informations générales
    </h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Prenom :
            {{ app.user.firstName }}</li>
        <li class="list-group-item">Nom :
            {{ app.user.lastName }}</li>
        <li class="list-group-item">Email :
            {{ app.user.email }}</li>
        <li class="list-group-item">
            Localisation :
            {{ app.user.location }}</li>
        <li class="list-group-item">
            Genre :
            {{ app.user.kind }}</li>
        <li class="list-group-item">
            Date de naissance :
            {{ app.user.birthDate | date('d/m/Y') }}</li>
    </ul>
    <br>

    </div>
    <br>
    <br>
    <br>

    <h6 type="button" class="text-center bg-dark p-3 text-white" data-toggle="collapse" data-target="#collapseprogress" aria-expanded="true" aria-controls="collapseprogress" >
        Votre liste de série(s) en cours / in progress<i class="fas fa-caret-down float-right"></i>
    </h6>
<div class="collapse show" id="collapseprogress">
    <div class="row">


        {% for l in app.user.listUserSeries if l.state == 'inProgress' %}

                <div class="col-3">
                <div class="card-group">
                    <div class="card">
                    <a href="{{path('serie_detail', {'id': l.serie.id})}}">
                        <img src="{{l.serie.photo }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">{{ l.serie.title | striptags | truncate(10, true, '...')}}</h6><hr>
                            <p class="card-text text-right">
                            <a href="{{path('serie_remove_list', {'id':l.serie.id, 'state':'inProgress'})}}">
                                <span class="badge badge-danger p-2"> Retirer de la liste </span>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
 
<br>

    <h6 class="text-center bg-dark p-3 text-white" data-toggle="collapse" data-target="#collapsewish" aria-expanded="false" aria-controls="collapsewish" type="button">
        Votre liste de souhait / wish-list<i class="fas fa-caret-down float-right"></i>
    </h6>
   <div class="collapse" id="collapsewish">
<div class="row">
        {% for l in app.user.listUserSeries if l.state == 'wish' %}
            <div class="col-3">
                <div class="card-group">
                    <div class="card">
                    <a href="{{path('serie_detail', {'id': l.serie.id})}}">
                        <img src="{{l.serie.photo }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">{{ l.serie.title | striptags | truncate(10, true, '...')}}</h6><hr>
                            <p class="card-text text-right">
                            <a href="{{path('serie_remove_list', {'id':l.serie.id, 'state':'wish'})}}">
                                <span class="badge badge-danger p-2"> Retirer de la liste </span>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
 </div>
    
<br>
    
    <h6 class="text-center bg-dark p-3 text-white" data-toggle="collapse" data-target="#collapsewishlist" aria-expanded="false" aria-controls="collapsewishlist" type="button">
        Votre liste de série(s) terminée(s) / wish-list <i class="fas fa-caret-down float-right"></i>
    </h6>
<div class="collapse" id="collapsewishlist">
    <div class="row">
        {% for l in app.user.listUserSeries if l.state == 'finish' %}
            <div class="col-3">
                <div class="card-group">
                    <div class="card">
                    <a href="{{path('serie_detail', {'id': l.serie.id})}}">
                        <img src="{{l.serie.photo }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">{{ l.serie.title | striptags | truncate(10, true, '...')}}</h6><hr>
                            <p class="card-text text-right">
                            <a href="{{path('serie_remove_list', {'id':l.serie.id, 'state':'finish'})}}">
                                <span class="badge badge-danger p-2"> Retirer de la liste </span>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
     </div>
    <br><br>
</div>
{% endblock %}
