{% extends 'base.html.twig' %}

{% block content %}
    <br><br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h2 class="display-4 text-center">MODIFICATIONS</h2><hr>

    {% else %}


        <h2 class="display-4 text-center">INSCRIPTION</h2><hr>

    {% endif %}
    {{ form_start(userForm) }}
    <form class="form">
        <div class="row">
            <div class="col-6">
                {{ form_row(userForm.username) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(userForm.firstName) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(userForm.lastName) }}
                    </div>
                </div>
                {{ form_row(userForm.email) }}
                {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                 {{ form_row(userForm.password) }} 
                 {% endif %}

            </div>

            <div class="col-6">
                {{ form_row(userForm.location) }}
                {{ form_row(userForm.kind) }}
                <div class="row">
                    <div class="col-4">
                        {{ form_row(userForm.birthDate.day, {label : 'Jour'}) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(userForm.birthDate.month,  {label : 'Mois'}) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(userForm.birthDate.year, {label : 'Année'}) }}
                    </div> 
                    {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
					<div></div>
                    <div class="col-12 d-flex">
						
                        <div class="col-1">{{ form_widget(userForm.cgu) }}{{form_label(userForm.cgu)}}</div>
                        <div class="col-11">En vous incrivant, vous accepter les
                            <a href='#'>Conditions Générales d'Utilisation (CGU)</a>
                        </div>
                        
                    </div>
					{% endif %}
                </div>
                {# {{ form_row(userForm.submit, { 'label' : action } ) }} #}
            </div>
        </div>
        <form>
            {{ form_end(userForm) }}


        {% endblock %}
