{% extends 'base.html.twig' %}

{% block content %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h2 class="display-4 text-center">MODIFICATIONS</h2><hr>

    {% else %}


        <h2 class="display-4 text-center">INSCRIPTION</h2><hr>

    {% endif %}
    {{ form_start(userForm) }}
    <div class="form">
        <div class="row">
            <div class="col-6">{{ form_label(userForm.username) }}</div > 
            <div class="col-6"> {{ form_label(userForm.email) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_widget(userForm.username) }}</div>
            <div class="col-6">{{ form_widget(userForm.email) }}</div> 
        </div>
        <div class="row">
            <div class="col-6">{{ form_label(userForm.lastName) }}</div>
            <div class="col-6">{{ form_label(userForm.firstName) }}</div> 
        </div>
        <div class="row">
            <div class="col-6">{{ form_widget(userForm.lastName) }}</div>
            <div class="col-6">{{ form_widget(userForm.firstName) }}</div> 
        </div>
        {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
        <div class="row">
            <div class="col-6">{{ form_label(userForm.password.first) }}</div>
            <div class="col-6">{{ form_label(userForm.password.second) }}</div> 
        </div>
        <div class="row">
            <div class="col-6">{{ form_widget(userForm.password.first) }}</div>
            <div class="col-6">{{ form_widget(userForm.password.second) }}</div> 
        </div>
        {% endif %}      
        <div class="row">
            <div class="col-6 row">
                <div class="col-4">{{ form_label(userForm.birthDate.day) }}</div>
                <div class="col-4">{{ form_label(userForm.birthDate.month) }}</div>
                <div class="col-4">{{ form_label(userForm.birthDate.year) }}</div>    
            </div>
            <div class="col-6 ">{{ form_label(userForm.kind) }}</div>
        </div>
        <div class="row">
            <div class="col-6 row">
                    <div class="col-4">{{ form_label(userForm.birthDate.day) }}</div>
                    <div class="col-4">{{ form_label(userForm.birthDate.month) }}</div>
                    <div class="col-4">{{ form_label(userForm.birthDate.year) }}</div>    
                </div>
                <div class="col-6 ">{{ form_label(userForm.kind) }}</div>
        </div>
            {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                    <div class="col-12 d-flex">
						
                        <div class="col-1">{{ form_widget(userForm.cgu) }}{{form_label(userForm.cgu)}}</div>
                        <div class="col-11">En vous incrivant, vous accepter les
                            <a href='#'>Conditions Générales d'Utilisation (CGU)</a>
                        </div>
                        
                    </div>
			{% endif %}
                </div>
                {# {{ form_row(userForm.submit, { 'label' : action } ) }} #}
            </div>
        </div>
        <form>
            {{ form_end(userForm) }}


        {% endblock %}
